<% @watchlists.each do |watchlist| %>

<li><%= watchlist.movie.title %><br>
    <%= watchlist.movie.genre %><br>
    <%= watchlist.movie.description%>
</li>
    <%= button_to "delete movie", watchlist, method: :delete, data: {
        confirm: "are you sure you want to delete this movie?"} %>
<%end%>
<%= button_to "movies", movies_path, method: :get %><br>