<h1><%= @watchlist.movie.title%></h1><br>
<h3><%= @watchlist.movie.genre%></h3><br>
<h3><%= @watchlist.movie.rating%></h3><br>
<h3><%= @watchlist.movie.description%></h3><br>
<h3><%= @watchlist.movie.cast%></h3>

