
<h1><%= @watchlist.movie <%></h1>
<%= form_tag watchlist_path(@watchlist.id), method: "delete" do %>
  <%= submit_tag "Delete #{@watchlist.movie}" %>
<% end %>

<%= button_to "watchlist", watchlists_path, method: :get %><br>
<%= button_to "movies", movies_path, method: :get %><br>

