<h1><%= @user.name %></h1><br>
<h2><%= @user.age%></h2><br><br>

<%= button_to "movies", movies_path, method: :get%><br>
<%= button_to "Delete", user_path(@user), method: :delete %><br>
<%= button_to "update", edit_user_path(@user), method: :get %>
<%= button_to "Log out", logout_path, method: :get%>
<%#= button_to "Watchlist", watchlist_path method: :get%>